@using System.Data
@model MyShop.Core.ViewModels.ProductListViewModel
@{
    ViewBag.Title = "Home Page";
}

<h2>Products</h2>

<div class="col-md-2">
    <hr/>
    <h4><strong>Filter by Category</strong></h4>
    <div class="list-group">
        <h4><strong>@Html.ActionLink("All", "Index", null, new { @class = Request["Category"] == null ? "list-group-item active" : "list-group-item" })</strong></h4>
        @foreach (var cat in Model.ProductCategories)
        {
            <h4><strong>@Html.ActionLink(cat.Category, "Index", new { Category = cat.Category }, new { @class = Request["Category"] == cat.Category ? "list-group-item active" : "list-group-item" })</strong></h4>
        }
    </div>
</div>

<div class="col-md-10">
    @foreach (var item in Model.Products)
    {
        <div class="col-md-4" style="height: 450px; padding: 5px; margin: 0px; border: solid thin whitesmoke">
            <div class="col-md-12">
                <a href="@Url.Action("Details", new { id = item.Id })">
                    <img class="img" style="height: 250px" src="~/Content/ProductImages/@item.Image" />
                </a>
            </div>
            <div class="col-md-12">
                <h3><strong>@Html.ActionLink(item.Name, "Details", new { id = item.Id })</strong></h3>
            </div>
            <div class="col-md-12">
                <p>@item.Description</p>
            </div>
            <div class="col-md-12">
                <h4>@item.Price</h4>
            </div>
            <div class="col-md-12">
                <a href="#" class="btn btn-default">Add to Basket</a>
            </div>
        </div>
    }
</div>

<div class="col-md-12 clearfix" />